.section__3 {
    height: 600px;
    justify-content: start;

    &__cover {
        &__step {
            height: 100%;
            flex-direction: column;

            &__1,
            &__2,
            &__3 {
                width: 100%;
                height: 300px;
                background-size: cover;
            }

            &__1 {
                height: 300px;
            }

            &__3 {
                display: none;
            }
        }
    }
}

.section__3__cover__step__2__img_style {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position-y: -165px;
}

.section__3__cover__step__2__img_bar {
    height: 350px;
    width: 100%;
    background-size: cover;
}

.section__3__cover__step__2__img_contact {
    height: 350px;
    width: 100%;
    background-size: cover;
}